@import url("https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Courgette&display=swap");

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: "Abril Fatface", cursive;
  font-family: "Courgette", cursive;
}

.container {
  min-height: 100%;
  background-color: #cccccc;
}
.wrap-container {
  padding: 0 15px;
}
/* reusable css  */
a {
  text-decoration: none;
}
ul {
  list-style: none;
}
.left {
  float: left;
}
.right {
  float: right;
}
.clearfix::after {
  content: "";
  clear: both;
  display: table;
}
.text-position {
  text-align: center;
  margin-top: 20vh;
}

/* bannerContent style starts */
.bg-banner {
  height: auto;
  padding-bottom: 100px;
  color: white;
  padding-top: 74px;
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
    url(../images/background.jpg), #c4c4c4;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: relative;
}
.title-first {
  font-size: 15px;
  font-weight: 100;
  line-height: 20px;
  /* margin-bottom: 9px; */
}
.title-second {
  font-size: 30px;
  font-weight: 500;
  line-height: 40px;
  margin-bottom: 9px;
}
.shop-btn {
  background-color: rgba(72, 177, 72, 0.8);
  border: none;
  border-radius: 10px;
  padding: 14px 20px;
  font-size: 15px;
  font-weight: bolder;
  text-decoration: none;
  color: #ffffff;
  transition: all 400ms ease-in-out;
  outline: none;
  cursor: pointer;
}

/* bannerContent style ends */

/* navBar style starts */
.top-header {
  background: rgba(0, 0, 0, 0.4);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  padding: 15px 0 25px;
}
.header-logo {
  color: white;
  font-weight: 300;
  font-size: 18px;
  line-height: 21px;
  padding-top: 7px;
}

.nav {
  display: block;
}
.nav-menus {
  float: left;
  margin-top: 5px;
}
.nav-menus li {
  float: left;
  margin-right: 30px;
}
.nav-menus li a {
  color: white;
  display: inline-block;
  font-size: 12px;
  line-height: 14px;
  vertical-align: middle;
  text-transform: uppercase;
}

/* plants style starts */
.category-container {
  height: auto;
}
.items-container {
  height: auto;
  width: 100%;
  background: rgb(221, 220, 218);
}
.each-item-container {
  height: auto;
  padding-top: 70px;
}
.title-product {
  text-align: center;
  padding-top: 50px;
  padding-bottom: 30px;
}
.category-title {
  padding-top: 90px;
}

/* footer styling */
footer {
  background-color: rgb(79 131 79 / 80%);
  clip-path: polygon(
    0 0,
    15% 0,
    50% 20%,
    85% 0,
    100% 0,
    100% 100%,
    0 100%,
    0 0
  );
  margin-top: -3vh;
  text-align: center;
  padding-top: 6vh;
  padding-bottom: 21px;
}

/* listGroup style starts */
.list-group {
  padding-top: 30px;
}
.item-category {
  height: auto;
  display: block;
  /* flex-wrap: wrap; */
  justify-content: center;
  padding-bottom: 50px;
}
.bucket {
  width: 50%;
  height: 200px;
  margin: 30px auto;
  color: #ffffff;
  text-align: center;
  background-color: rgb(155, 204, 58);
  padding-top: 90px;
}
.active,
.bucket:hover {
  background-color: rgba(75, 105, 19, 0.7);
}
.bucket h4{
  padding-top: 65px;
}

.category-img {
  background: url(../images/background.jpg);
  height: 30px;
  width: 30px;
  background-size: cover;
}

/* search box style */
.search-container {
  display: flex;
  justify-content: center;
  align-items: center;
}
.search-box {
  width: 50%;
  position: relative;
}

.search-box input[type="text"] {
  width: 100%;
  padding: 20px;
  padding-right: 60px;
  box-sizing: border-box;
  background: rgba(75, 105, 19, 0.1);
  border: 1px solid transparent;
  border-radius: 20px;
  outline: none;
}
.search-box input[type="text"]::placeholder,
.search-box input[type="text"] {
  color: rgb(70, 68, 68);
  font-style: italic;
  font-weight: lighter;
  font-size: 14px;
}

/* pagination style starts */
.pagination {
  padding-left: 33%;
  padding-bottom: 90px;
}
.pagination li {
  float: left;
}
.page-item {
  border: 1px solid rgba(75, 105, 19, 0.7);
  outline: none;
  padding: 10px 16px;
  cursor: pointer;
  font-size: 18px;
  margin-right: 2px;
}

/* responsive design  */
@media (min-width: 768px) {
  .bg-banner {
    height: 597px;
    background-repeat: no-repeat;
    background-size: cover;
  }
  .wrap-container {
    padding-left: 0 24px;
  }
  .items-container {
    height: auto;
  }
  .category-container {
    height: auto;
  }
  .item-category {
    height: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  .bucket {
    width: 25%;
    margin: 30px 50px;
    color: #ffffff;
    text-align: center;
    background-color: rgb(155, 204, 58);
    padding-top: 90px;
  }
  .each-item-container {
    margin-top: 0px;
    height: auto;
  }
  .pagination {
    padding-left: 42%;
    margin-top: 0px;
  }
}

/* responsive design */
@media (min-width: 1200px) {
  .bg-banner {
    width: 100%;
    height: 800px;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
  }
  /* .top-header {
    position: absolute;
  } */
  .wrap-container {
    padding: 0;
    margin: 0 auto;
    max-width: 1128px;
  }
  .text-position {
    padding-top: 300px;
  }
}
